*{
	margin:0;
	padding:0;
}

#outerContainer{
	overflow-x: scroll;
	width:700%;
	height:100%;
	max-height:100%;
	overflow-y: hidden;
    white-space: nowrap;
}

#outerContainer #innerContainer{
	height: 100%;
}

#outerContainer #innerContainer #panels{
	/*width:743px;*/
	height:100%;
	float:left;
	margin: 0 4px 0 0;

}

img{
	min-height:100%;
	min-width: 700px;
	height:auto;
	width:100%;

}
.home{
	background-image: url(../images/Picture1.jpg);
	
}

.story{
	background-image: url(../images/Picture2.jpg);
}

.app{
	background-image: url(../images/Picture4.jpg);
}

.research{
	background-image: url(../images/Picture5.jpg);
	height:100%;
}

.forum{
	background-image: url(../images/Picture6.jpg);
	height:100%;
}

.contact{
	background-image: url(../images/Picture7.jpg);
	height:100%;
}

.download{
	background-image: url(../images/Picture9.png);
	width:248px;
	height:100%;
}

#posts{
	margin-top: 70px;
	margin-left:400px;
	width: 310px;
	height: 280px;
	overflow-y:scroll;
}

#submissions{
	margin-top: 90px;
	margin-left:400px;

}
.graphs{
	margin-left:40px;
}
#submissionBlocks{
	float:left;
}